.timer {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.field {
  display: flex;
  flex-direction: column;
}
.value {
  font-size: 38px;
  font-weight: 500;
}
.label {
  font-size: 12px;
}
